@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #efefef;
    
}
/* PRIMERA PANTALLA */
.titulo {
    width: auto;
    height: auto;
    color: black;
    text-align: center;
    margin: 20px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitulo {
    margin: 20px;
    font-size: 19px;
}

.tarjetas, .tarjetas-ataque {
    display: flex;
    margin: 0 auto;
}

.card-mokepones {
    width: 200px;
    height: 200px;
    background: azure;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid;
    margin: 10px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.card-mokepones img {
    width: 150px;
}

input {
    display: none;
}

input:checked + label {
    background: black;
    color: white;
    border: 3px solid #44479B;
    border-radius: 5px;
}

section#seleccionar-mascota button {
    width: 200px;
    height: 40px;
    background-color: #44479B;
    color: white;
    border-radius: 5px;
}

/* SEGUNDA PANTALLA*/

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    width: 150px;
    height: 25px;
    margin: 10px;
    background-color: #44479B;
    color: white;
    border-radius: 10px;
}

#mensajes {
    width: 200px;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.reiniciar-boton {
    width: 200px;
    height: 40px;
    margin-top: 10px;
    background-color: #44479B;
    color: white;
    border-radius: 5px;
}

.ataques {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-column-gap: 10px;
}

.ataques-jugador, .ataques-enemigo {
    padding: 5px;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataque {
        flex-direction: column;
    }
}